{% extends "layout.html" %}
{% block content %}
    <h2>Review {{ property.property_title }}</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.rating.label }}<br>
            {{ form.rating(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.comment.label }}<br>
            {{ form.comment(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-success") }}
        </div>
    </form>

{% endblock content%}