{% extends "layout.html" %}
{% block content %}
<div class="review-form-container">
    <h2>Review for {{ property.property_title }}</h2>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <div class="review-form-group">
            {{ form.rating.label(class="review-label") }}<br>
            {{ form.rating(class="review-form-control") }}
        </div>
        <div class="review-form-group">
            {{ form.comment.label(class="review-label") }}<br>
            {{ form.comment(class="review-form-control") }}
        </div>
        <div class="review-form-group">
            {{ form.submit(class="btn-review-submit") }}
        </div>
    </form>
</div>
{% endblock content %}
