{% extends "layout.html" %}
{% block content %}
<div class="registration-container-register">
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <h2 class="form-title-register">Registration Form</h2>

        <div class="form-group-register">
            {{ form.username.label(class="form-control-label-register") }}
            {% if form.username.errors %}
                {{ form.username(class="form-control-register is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control-register", placeholder="Username") }}
            {% endif %}
        </div>

        <div class="form-group-register">
            {{ form.email.label(class="form-control-label-register") }}
            {% if form.email.errors %}
                {{ form.email(class="form-control-register is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.email.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.email(class="form-control-register", placeholder="Email") }}
            {% endif %}
        </div>

        <div class="form-group-register">
            {{ form.password.label(class="form-control-label-register") }}
            {% if form.password.errors %}
                {{ form.password(class="form-control-register is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="form-control-register", placeholder="Password") }}
            {% endif %}
        </div>

        <div class="form-group-register">
            {{ form.confirm_password.label(class="form-control-label-register") }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="form-control-register is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="form-control-register", placeholder="Confirm Password") }}
            {% endif %}
        </div>

        <div class="form-group-register">
            {{ form.submit(class="btn-submit-register") }}
        </div>

        <div class="border-top pt-3">
            <small class="text-muted">
                Already have an account? <a class="ml-2" href="{{ url_for('main.login') }}">Sign In</a>
            </small>
        </div>
    </form>
</div>
{% endblock %}
