.button-container {
    display: inline-block;
    justify-content: center;
    align-items: center;
    height: 40vh;
    width: 30vh;
}


.offer-button {
    width: 200px;
    height: 250px;
    background-color: #185d9a;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.offer-button:hover {
    transform: scale(1.05);
}

.offer-image {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

.offer-image-wishlist {
    width: 100px;
    height: 100px;
    object-fit: contain;
}

.offer-title {
    color: #fff;
    font-size: 16px;
    text-align: center;
}


.login-container {
    width: 100%;
    max-width: 500px;
    padding: 30px;
    box-sizing: border-box;
    width: 100vh;
    margin: 30px auto;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}


.form-group-login {
    margin-bottom: 20px;
}

.form-control-login {
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 16px;
}

.form-control-login::placeholder {
    color: #dddddd;
}

.btn-login {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background: linear-gradient(90deg,  #135097, #00A1B6);
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.btn-login:hover {
    background-color: #00A1B6;
}

.text-muted-login a {
    color: #00A1B6;
}

.text-muted-login a:hover {
    text-decoration: underline;
}


.card-image-size {
    width: 212px;  
    height: 200px; 
    object-fit: cover;
    display: block;
    margin: 0 auto;
}





.registration-container-register {
    max-width: 400px; /* Limit the width of the form */
    margin: 25px auto; /* Center the form horizontally */
    padding: 20px;
    background: white; /* Background color of the form */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Shadow effect */
}

.form-title-register {
    text-align: center; /* Center the title */
    margin-bottom: 20px; /* Space below the title */
    color:  #00A1B6; /* Color of the title */
}

.form-group-register {
    margin-bottom: 15px; /* Space between form groups */
}

label {
    font-weight: bold; /* Bold labels */
}

.form-control-register {
    width: 100%; /* Full-width inputs */
    padding: 10px; /* Padding inside inputs */
    border: 1px solid #ccc; /* Border color */
    border-radius: 5px; /* Rounded corners for inputs */
    transition: border-color 0.3s; /* Smooth transition for border color */
}

.form-control-register:focus {
    border-color: #00A1B6; /* Border color on focus */
    outline: none; /* Remove outline */
}

.btn-submit-register {
    width: 100%; /* Full-width button */
    padding: 10px; /* Padding inside button */
    background: linear-gradient(90deg,  #135097, #00A1B6); /* Gradient background */
    color: white; /* Text color */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px; /* Font size */
    cursor: pointer; /* Pointer cursor on hover */
}

.btn-submit-register:hover {
    background: #00A1B6; /* Darker gradient on hover */
}

.already-have-account-register {
    text-align: center; /* Center the text */
    margin-top: 15px; /* Space above */
}

.already-have-account-register a {
    color: #1F9B9F; /* Link color */
    text-decoration: none; /* Remove underline */
}
